.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.directory
.directory
data/*
debug.R
prioritizr-workshop-manual.Rmd
prioritizr-workshop-manual.R
prioritizr-workshop-manual.toc
prioritizr-workshop-manual-teaching.Rmd
prioritizr-workshop-manual_files
prioritizr-workshop-manual-teaching_files
prioritizr-workshop-manual_cache
Rplots.pdf
